services:
  web:
    build: .
    image: ${PROJECT_NAME:-nosotros-web}
    container_name: ${PROJECT_NAME:-nosotros}-web
    ports:
      - ${WEB_PORT:-2019}:80
      - "${VITE_SERVER_PORT:-5173}:5173" # Puerto de Vite para HMR
    environment:
      SERVICE_NAME: web
    env_file:
      - .env
      - ./web/.env
    develop:
      watch:
        - action: sync
          path: ./web
          target: /var/www/html/
          ignore:
            - vendor/
            - node_modules/
    depends_on:
      database:
        condition: service_healthy

  database:
    image: mariadb:11.1.2
    container_name: ${PROJECT_NAME:-nosotros}-database
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE: ${DB_DATABASE}
    ports:
      - ${DB_DOCKER_PORT:-2020}:3306
    volumes:
      - mysqldata:/var/lib/mysql
      - ./database/initial-database.sql:/docker-entrypoint-initdb.d/initial-database.sql
    networks:
      - default
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "--password=${DB_PASSWORD:-root}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysqldata:

networks:
  default_network:
    name: ${PROJECT_NAME:-nosotros}-net
    driver: bridge
